<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">TOP des paris foot</h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Matchs</th>
                <th scope="col">Date</th>
                <th scope="col">Heure</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="../assets/img/theme/foot.jpg">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">Allemagne VS France</span>
                    </div>
                  </div>
                </th>
                <td>
                  15-06-2021
                </td>
                <td>
                  20:00
                </td>
                <td>
                  <div class="col text-center">
                    <a href="#!" class="btn btn-sm btn-primary">Voir détails <i class="ni ni-bold-right"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="../assets/img/theme/foot.jpg">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">Belgique VS Danemark</span>
                    </div>
                  </div>
                </th>
                <td>
                  15-06-2021
                </td>
                <td>
                  20:00
                </td>
                <td>
                  <div class="col text-center">
                    <a href="#!" class="btn btn-sm btn-primary">Voir détails <i class="ni ni-bold-right"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="../assets/img/theme/foot.jpg">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">Croatie VS Pologne</span>
                    </div>
                  </div>
                </th>
                <td>
                  15-06-2021
                </td>
                <td>
                  22:00
                </td>
                <td>
                  <div class="col text-center">
                    <a href="#!" class="btn btn-sm btn-primary">Voir détails <i class="ni ni-bold-right"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="../assets/img/theme/foot.jpg">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">Allemagne VS Croatie</span>
                    </div>
                  </div>
                </th>
                <td>
                  15-06-2021
                </td>
                <td>
                  15:00
                </td>
                <td>
                  <div class="col text-center">
                    <a href="#!" class="btn btn-sm btn-primary">Voir détails <i class="ni ni-bold-right"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" src="../assets/img/theme/foot.jpg">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">Portugal VS France</span>
                    </div>
                  </div>
                </th>
                <td>
                  23-06-2021
                </td>
                <td>
                  20:00
                </td>
                <td>
                  <div class="col text-center">
                    <a href="#!" class="btn btn-sm btn-primary">Voir détails <i class="ni ni-bold-right"></i></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="mb-0"><i class="ni ni-cart"></i> Panier</h2>
            </div>
            
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-danger"> <i class="far fa-trash-alt"></i></a>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0"><i class="far fa-futbol"></i>Allemagne VS France</h5>
                    <span class="h4 font-weight-bold mb-0">Résultat du match : 1</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="ni ni-fat-remove"></i>
                    </div>
                  </div>
                </div>
                <p class=" mb-0 text-muted text-sm">
                  <span class="text-success mr-2">Cote <i class="fa fa-arrow-up"></i> 2.5</span>
                </p>
              </div>
            </div>
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0"><i class="far fa-futbol"></i>Allemagne VS France</h5>
                    <span class="h4 font-weight-bold mb-0">Résultat du match : 1</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="ni ni-fat-remove"></i>
                    </div>
                  </div>
                </div>
                <p class=" mb-0 text-muted text-sm">
                  <span class="text-success mr-2">Cote <i class="fa fa-arrow-up"></i> 2.5</span>
                </p>
              </div>
            </div>
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-4 text-center">
                    <h5 class="card-title text-uppercase text-muted mb-0">Cote: </h5>
                    <span class="h4 font-weight-bold mb-0">5</span>
                  </div>
                  <div class="col-lg-8">
                    <div class="form-group">
                      <input type="number" id="input-postal-code" min="200" class="form-control form-control-alt" placeholder="Placer mise" value="200">
                    </div>
                  </div>
                </div>
                <p class="text-center mb-0 text-muted text-sm">
                  <span class="mr-2">Mise totale</span>
                  <span class="mr-2">200 MGA</span>
                </p>
                <p class="text-center mb-0 text-muted text-sm">
                  <span class="mr-2">Gains Potentiels</span>
                  <span class="mr-2">10000 MGA</span>
                </p>
                <div class="col text-center">
                  <a href="#!" class="btn btn-sm btn-danger">PLACER MON PARI</a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>
