<!--<p class="text-muted">Just add the base class <code>.table</code> to any <code>&lt;table&gt;</code>, then extend with custom styles or our various included modifier classes.</p>-->
<div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="message">
  <strong>{{message}}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Insertion point de ventes</h5>
       
      </div>
      <div class="modal-body">
          <div class="row">
              <div class="col-sm-12">
                  <div class="form-group">
                  <label for="inputFirstName">Lieu</label>
                  <input type="text" class="form-control" [(ngModel)]="lieu">
                  </div>
              </div>
              
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
              <label for="inputFirstName">Latitude</label>
              <input type="number" class="form-control" [(ngModel)]="latitude">
              </div>
            </div>
             
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
              <label for="inputFirstName">Longitude</label>
              <input type="number" class="form-control" [(ngModel)]="longitude">
              </div>
            </div>
           
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" [disabled]="(!lieu && !latitude && !longitude)" (click)="insert()">Enregistrer</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modification Match</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form>
            <div class="row">
              <div class="col-sm-12">
                  <div class="form-group">
                  <label for="inputFirstName">Lieu</label>
                  <input type="text" class="form-control" [(ngModel)]="lieuUpdated" name="lieuUpdated">
                  </div>
              </div>
              
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
              <label for="inputFirstName">Latitude</label>
              <input type="number" class="form-control" [(ngModel)]="latitudeUpdated" name="latitudeUpdated">
              </div>
            </div>
             
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
              <label for="inputFirstName">Longitude</label>
              <input type="number" class="form-control" [(ngModel)]="longitudeUpdated" name="longitudeUpdated">
              </div>
            </div> 
            </div> 
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-danger"  data-dismiss="modal" (click)="update()">Enregistrer</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 mb-4">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
      Ajouter
    </button>
  </div>
</div>
<div class="row">
  <div class="col-12 mb-4">
      <div widget class="card border-0 box-shadow">
          <div class="card-header transparent border-0 text-muted">
              <h5 class="mb-0"> Liste des Point de ventes</h5>
              <div class="widget-controls"> 
                  <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                  <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                  <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
              </div>        
          </div>
          <div class="card-body pt-0 widget-body">
               <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Nom</th>
                              <th>Longitude</th>
                              <th>Latitude</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let a of pointdeventes">
                              <td>{{a.nomDuLieu}}</td>
                              <td>{{a.longitude}}</td>
                              <td>{{a.latitude}}</td>
                              <td class="align-middle">
                                  <button type="button"  (click)="deletePointDeVentes(a)" class="btn btn-dark">
                                    <i class="fa fa-trash"></i>
                                  </button>
                                  &nbsp;
                                  <button type="button" (click)="getInfo(a)" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalLong">
                                    <i class="fa fa-edit"></i>
                                  </button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" (click)="premierePage()">Première</a></li>
            <li class="page-item"><a class="page-link" (click)="pagePrecedente()"   [class.disabled]="!hasPrevPage">Prev</a></li>
            <li class="page-item"><a class="page-link" (click)="pageSuivante()" [class.disabled]="!hasNextPage">Suiv</a></li>
            <li class="page-item"><a class="page-link" (click)="dernierePage()">Dernière</a></li>
          </ul>
        </nav>
      </div>
  </div>
</div>
 
