<h2>Liste</h2>
<!--<p class="text-muted">Just add the base class <code>.table</code> to any <code>&lt;table&gt;</code>, then extend with custom styles or our various included modifier classes.</p>-->


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                    <div class="row">
                      <div class="col-sm-6">
                          <div class="form-group">
                          <label for="inputFirstName">Equipe A</label>
                          <input type="text" class="form-control" [(ngModel)]="equipeA" name="equipeA" placeholder="--">
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-group">
                          <label for="inputLastName">Equipe B</label>
                          <input type="text" class="form-control" id="inputLastName" [(ngModel)]="equipeB" name="equipeB" placeholder="--">
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="form-group">
                              <label for="input-12">Date</label>
                              <input type="date" class="form-control" value="2011-08-19" [(ngModel)]="date" name="date"  id="input-12">
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-group">
                              <label for="input-15">Time</label>
                              <input type="time" class="form-control" value="13:45:00" [(ngModel)]="time" name="time"  id="input-15">
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-12">
                          <div class="form-group">
                              <label for="input-12">Type</label>
                              <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="typeParie" name="typeParie" >
                                  <option  *ngFor="let a of type" value={{a._id}} [ngValue]="a._id">{{a.typeParie}}</option>
                              </select>
                          </div>
                      </div>
                      
                  </div>
                  <input type="hidden" class="form-control" id="exampleInputPassword1"   [(ngModel)]="idParis" name="idParis">
                <!--<button type="submit" class="btn btn-primary">Submit</button>-->
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary"  (click)="update()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<div class="row">
    <div class="col-12 mb-4"  *ngIf="showMsg">
        <div class="col-xs-12">
          <p class="alert alert-success">
              <strong>Deleted Success!</strong> 

          </p>
        </div>
      </div>
      <div class="col-12 mb-4"  *ngIf="showMsgUpdate">
        <div class="col-xs-12">
          <p class="alert alert-success">
              <strong>Updated Success!</strong> 

          </p>
        </div>
      </div>
    <div class="col-12 mb-4">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Matches</h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body pt-0 widget-body">
                 <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Match</th>
                                <th>Date Du Match</th>
                                <th>autres_info</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let a of pari_sport">
                                <td>{{a.type}}</td>
                                <td>{{a.equipes[0].nomEquipe}} VS {{a.equipes[1].nomEquipe}}</td>
                                <td>{{a.dateDuMatch}}</td>
                                <td>{{a.autres_info}}</td>
                                <td class="align-middle">
                                    <button type="button" (click)="getInfo(a)" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalLong">
                                        <i class="fa fa-edit"></i>
                                      </button>
                                      &nbsp;
                                    <button type="button"  (click)="deletePari(a)" class="btn btn-dark">
                                      <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item"><a class="page-link" (click)="premierePage()">Première</a></li>
              <li class="page-item"><a class="page-link" (click)="pagePrecedente()"   [class.disabled]="!hasPrevPage">Prev</a></li>
              <li class="page-item"><a class="page-link" (click)="pageSuivante()" [class.disabled]="!hasNextPage">Suiv</a></li>
              <li class="page-item"><a class="page-link" (click)="dernierePage()">Dernière</a></li>
            </ul>
          </nav>
        </div>
    </div>
   
</div>