@media (max-width: 600px) {
	.borderform{
		border:10px solid white ;
		/*width : 310px;*/
		font-family : "Times New Roman",Times,Sherif;
		margin-top : 10px;
		margin-left: 15px;
		margin-right: 15px;
	}
	.marge {
		margin-left : 10px;
		margin-top : 5px;
		margin-right : 10px;
	}
	.btn.property{
		
		margin-bottom:5px;
	}
	.header{
		background:green;
		color:white;
		height:50px;
		
	}
	.title{
		text-align : center;
		
	}
}