<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  
</div>
<div class="container-fluid mt--7" *ngIf="pariSport">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col text-center">
              <h3 class="mb-0"><i class="far fa-futbol"></i> {{pariSport[0].equipes[0].nomEquipe}} VS {{pariSport[0].equipes[1].nomEquipe}}</h3>
              <h5 class="card-title text-uppercase text-muted mb-0">{{pariSport[0].dateDuMatch}}</h5>
            </div>
          </div>
        </div>
        <div class="card-body" *ngFor="let fiche of pariSport[0].Categorie">
          <form>
            <h6 class="heading-small text-muted mb-4">{{fiche.nomcategorie}}</h6>
            <div class="pl-lg-4">
              <div class="row" >
                <div class="col-lg-4" *ngFor="let champ of fiche.champ">
                  <div class="form-group">
                    <button type="button" class="form-control form-control-alternative btn btn-primary2" (click)="getPanier(champ)">
                      {{champ.nomChamp}} <span class="badge2 badge-light2">{{champ.cote[0].cotes}}</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="mb-0"><i class="ni ni-cart"></i> Panier</h2>
            </div>
            
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-danger"> <i class="far fa-trash-alt"></i></a>
            </div>
          </div>
        </div>
        <div class="card-body" *ngIf="panier">
          <p *ngIf="message" style="color:{{color}}">{{message}}</p>
            <div class="card card-stats mb-4 mb-xl-0" *ngFor="let p of panier">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0"><i class="far fa-futbol"></i>{{pariSport[0].equipes[0].nomEquipe}} VS {{pariSport[0].equipes[1].nomEquipe}}</h5>
                    <span class="h4 font-weight-bold mb-0">{{p.nomCategorie}}:{{p.nomChamp}}</span>
                    <input type="number"  [(ngModel)]="p.valeur" name="{{p.valeur}}" [ngModelOptions]="{standalone: true}" value="0" (change)="onChange(p)"/>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="ni ni-fat-remove" (click)="remove(p._id)"></i>
                    </div>
                  </div>
                </div>
                <p class=" mb-0 text-muted text-sm">
                  <span class="text-success mr-2">Cote <i class="fa fa-arrow-up"></i> {{p.cote[0].cotes}}</span>
                </p>
                <p *ngIf="p.valeur">Gain potentiel : {{p.cote[0].cotes*p.valeur}}</p>
                <p *ngIf="!p.valeur">Gain potentiel : 0</p>
              </div>
            </div>
            <p class="text-center mb-0 text-muted text-sm">
              <span class="mr-2">Mise totale</span>
              <span class="mr-2">{{misetotal}}</span>
            </p>
            <p class="text-center mb-0 text-muted text-sm">
              <span class="mr-2">Gains Potentiels</span>
              <span class="mr-2">{{gainpotentieltotal}}</span>
            </p>
            <div class="col text-center">
              <button class="btn btn-sm btn-danger" (click)="parier()">PLACER MON PARI</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>