<h2 class="text-center">Création </h2>
<form class="form-horizontal">
<div class="row">
    <div class="col-lg-12 mb-4"  *ngIf="showMsg">
        <div class="col-xs-12">
          <p class="alert alert-success">
              <strong>Insert Success!</strong> 

          </p>
        </div>
    </div>
    <div class="col-lg-12 mb-4">
       
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Catégorie </h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body widget-body">

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                        <label for="inputFirstName">Type De  Pari</label>
                        <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="typeParie" name="typeParie">
                            <option  *ngFor="let a of type" [ngValue]="a._id">{{a.typeParie}}</option>
                        </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                        <label for="inputLastName">Nom de categorie</label>
                        <input type="text" class="form-control" id="inputLastName" placeholder="--" [(ngModel)]="nomParis" name="nomParis">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                        <label for="inputLastName">Nom champ</label>
                        <input type="text" class="form-control" id="inputLastName" placeholder="--" [(ngModel)]="nomChampMoyen" name="nomChampMoyen">
                        </div>
                    </div>
                </div>       
            </div>
            <div class="row col-lg-12 mb-4 justify-content-center">
                <button type ="submit" [disabled]="!(typeParie && nomParis && nomChampMoyen)" class="btn btn-secondary" (click)="AddCategorie()">Créé categorie</button>
            </div>   
        </div>

   </div>    
</div>
<div class="row">
    <div class="col-lg-12 mb-4">
       
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Champ Par Categorie </h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body widget-body">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="inputFirstName">Categorie</label>
                        <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="categorie" name="categorie">
                            <option  *ngFor="let a of categorieList" [ngValue]="a._id">{{a.nomcategorie}}</option>
                        </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="inputLastName">Nom de champ</label>
                        <input type="text" class="form-control" id="inputLastName" placeholder="--" [(ngModel)]="nomchamp" name="nomchamp">
                        </div>
                    </div>
                </div>       
            </div>
            <div class="row col-lg-12 mb-4 justify-content-center">
                <button [disabled]="!(categorie && nomchamp)"type="submit" class="btn btn-secondary" (click)="AddChamp()">Créé champ</button>
            </div>   
        </div>

   </div>    
</div>
<!--<div class="row">
    <div class="col-lg-6 mb-4">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Résultat du match</h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body widget-body">

                    <div class="form-group row text-sm-right">
                        <label for="email-h-f" class="col-sm-3 form-control-label mt-1">1</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="email-h-t">
                        </div>
                    </div>
                    <div class="form-group row text-sm-right">
                        <label for="email-h-f" class="col-sm-3 form-control-label mt-1">2</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="email-h-t">
                        </div>
                    </div>               
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Nombre exact de sets</h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body widget-body">

                    <div class="form-group row text-sm-right">
                        <label for="email-h-f" class="col-sm-3 form-control-label mt-1">2</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="email-h-t">
                        </div>
                    </div>
                    <div class="form-group row text-sm-right">
                        <label for="email-h-f" class="col-sm-3 form-control-label mt-1">3</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="email-h-t">
                        </div>
                    </div>            
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 mb-4">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Vainqueur du 1er set et du match</h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body widget-body">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="inputFirstName">1/1</label>
                        <input type="number" class="form-control" id="inputFirstName" placeholder="1/1">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="inputLastName">1/2</label>
                        <input type="number" class="form-control" id="inputLastName" placeholder="1/2">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="inputFirstName">2/1</label>
                        <input type="number" class="form-control" id="inputEmail" placeholder="2/1">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="inputWebsite">2/2</label>
                        <input type="number" class="form-control" id="inputWebsite" placeholder="2/2">
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Vainqueur du set</h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body widget-body">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="inputFirstName">2ème - 1</label>
                        <input type="text" class="form-control" id="inputFirstName" placeholder="2ème - 1">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="inputLastName">2ème - 2</label>
                        <input type="text" class="form-control" id="inputLastName" placeholder="2ème - 2">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="inputFirstName">1er - 1</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="1er - 1">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="inputWebsite">1er - 2</label>
                        <input type="text" class="form-control" id="inputWebsite" placeholder="1er - 2">
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <div class="row col-lg-12 mb-4 justify-content-center">
        <button type="submit" class="btn btn-secondary">Créé le match</button>
    </div>   
</div>-->
</form>


