<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true"  *ngIf="categorieUpdated">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modification Categorie</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <!--<form [formGroup] = "modalformGroup">-->
                <div class="form-group">
                  <label for="exampleInputEmail1">Type De Pari</label>
                  <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="select" name="typeParie">
                    
                    <option  *ngFor="let a of type"  [ngValue]="a._id" [selected]="a._id===select">{{a.typeParie}} </option>
                  </select>
                  
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Nom Categorie</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="nomcategorie" name="nomcategorie">
                </div>
                <input type="hidden" class="form-control" id="exampleInputPassword1"   [(ngModel)]="idcategorie" name="idcategorie">
            <!--</form>  -->
             
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-danger" (click)="update()">Enregistrer</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mb-4"  *ngIf="showMsgDelete">
    <div class="col-xs-12">
      <p class="alert alert-success">
          <strong>Deleted Success!</strong> 
  
      </p>
    </div>
  </div>
  <div class="col-12 mb-4"  *ngIf="showMsg">
    <div class="col-xs-12">
      <p class="alert alert-success">
          <strong>Update Success!</strong>  
      </p>
    </div>
  </div>
  
<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0">Listes  des Categories</h5>
        <div class="widget-controls"> 
            <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
            <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
            <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
            <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>  
            <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
        </div>        
    </div>
    <div class="card-body pt-0 widget-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>TypeParie</th>
                        <th>Categorie</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let a of categorie">
                        <td>{{a.nomType}}</td>
                        <td>{{a.nomcategorie}}</td>
                        
                        <td class="align-middle">
                            <button type="button"  (click)="getInfo(a)" class="btn btn-dark" data-toggle="modal" data-target="#exampleModalLong">
                                <i class="fa fa-edit"></i>
                            </button>
                            &nbsp;
                            <button type="button"  (click)="deleteCategorie(a)" class="btn btn-dark">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>  
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li class="page-item"><a class="page-link" (click)="premierePage()">Première</a></li>
              <li class="page-item"><a class="page-link" (click)="pagePrecedente()"   [class.disabled]="!hasPrevPage">Prev</a></li>
              <li class="page-item"><a class="page-link" (click)="pageSuivante()" [class.disabled]="!hasNextPage">Suiv</a></li>
              <li class="page-item"><a class="page-link" (click)="dernierePage()">Dernière</a></li>
            </ul>
          </nav>        
    </div>
</div>