	<div class ="row marge">
		<div class="col-md-8">
			<h6><i class="fas fa-question-circle icon_question">Résultat du match</i></h6>
			<div class="card">
				<mat-card>
					<button type="button" class="btn btn-outline-secondary buttonsecondary">
					  1 <span class="badge badge-success">1,16</span>
					</button>
					<button type="button" class="btn btn-outline-secondary  buttonsecondary ">
					  X <span class="badge badge-success">5.73</span>
					</button>
					<button type="button" class="btn btn-outline-secondary buttonsecondary ">
					 2 <span class="badge badge-success">10.55</span>
					</button>
					
				</mat-card>
				
			</div>
			<h6><i class="fas fa-question-circle icon_question">Résultat du match</i></h6>
			<div class="card">
				<mat-card>
					<button type="button" class="btn btn-outline-secondary buttonsecondary">
					  1 <span class="badge badge-success">1,16</span>
					</button>
					<button type="button" class="btn btn-outline-secondary  buttonsecondary ">
					  X <span class="badge badge-success">5.73</span>
					</button>
					<button type="button" class="btn btn-outline-secondary buttonsecondary ">
					 2 <span class="badge badge-success">10.55</span>
					</button>
					
				</mat-card>
				
			</div>
			<h6><i class="fas fa-question-circle icon_question">Résultat du match</i></h6>
			<div class="card">
				<mat-card>
					<button type="button" class="btn btn-outline-secondary buttonsecondary">
					  1 <span class="badge badge-success">1,16</span>
					</button>
					<button type="button" class="btn btn-outline-secondary  buttonsecondary ">
					  X <span class="badge badge-success">5.73</span>
					</button>
					<button type="button" class="btn btn-outline-secondary buttonsecondary ">
					 2 <span class="badge badge-success">10.55</span>
					</button>
					
				</mat-card>
				
			</div>
			<h6><i class="fas fa-question-circle icon_question">Résultat du match</i></h6>
			<div class="card">
				<mat-card>
					<button type="button" class="btn btn-outline-secondary buttonsecondary">
					  1 <span class="badge badge-success">1,16</span>
					</button>
					<button type="button" class="btn btn-outline-secondary  buttonsecondary ">
					  X <span class="badge badge-success">5.73</span>
					</button>
					<button type="button" class="btn btn-outline-secondary buttonsecondary ">
					 2 <span class="badge badge-success">10.55</span>
					</button>
					
				</mat-card>
				
			</div>
		</div>
	</div>
