<h2 class="text-center">Création d'un match Foot</h2>
<form class="form-horizontal">
<div class="row">
    <div class="col-lg-12 mb-4">
       
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Information sur le match </h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body widget-body">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="inputFirstName">Equipe A</label>
                        <input type="text" class="form-control" id="inputFirstName" placeholder="--">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="inputLastName">Equipe B</label>
                        <input type="text" class="form-control" id="inputLastName" placeholder="--">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="input-12">Date</label>
                            <input type="date" class="form-control" value="2011-08-19" id="input-12">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="input-15">Time</label>
                            <input type="time" class="form-control" value="13:45:00" id="input-15">
                        </div>
                    </div>
                </div>
               
            </div>
        </div>

   </div>    
</div>

<div class="row">
    <div class="col-lg-6 mb-4">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Résultat du match</h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body widget-body">

                    <div class="form-group row text-sm-right">
                        <label for="email-h-f" class="col-sm-3 form-control-label mt-1">1</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="email-h-t">
                        </div>
                    </div>
                    <div class="form-group row text-sm-right">
                        <label for="email-h-f" class="col-sm-3 form-control-label mt-1">X</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="email-h-t">
                        </div>
                    </div>
                    <div class="form-group row text-sm-right">
                        <label for="email-h-f" class="col-sm-3 form-control-label mt-1">2</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="email-h-t">
                        </div>
                    </div>               
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Mi-temps avec le plus de buts</h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body widget-body">

                    <div class="form-group row text-sm-right">
                        <label for="email-h-f" class="col-sm-3 form-control-label mt-1">1ère</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="email-h-t">
                        </div>
                    </div>
                    <div class="form-group row text-sm-right">
                        <label for="email-h-f" class="col-sm-3 form-control-label mt-1">2ème</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="email-h-t">
                        </div>
                    </div>
                    <div class="form-group row text-sm-right">
                        <label for="email-h-f" class="col-sm-3 form-control-label mt-1">Egalité</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="email-h-t">
                        </div>
                    </div>               
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 mb-4">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Nombre de buts</h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body widget-body">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="inputFirstName">>1.5</label>
                        <input type="number" class="form-control" id="inputFirstName" placeholder=">1.5">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="inputLastName"><1.5</label>
                        <input type="number" class="form-control" id="inputLastName" placeholder="<1.5">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="inputFirstName">>2.5</label>
                        <input type="number" class="form-control" id="inputEmail" placeholder=">2.5">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="inputWebsite"><2.5</label>
                        <input type="number" class="form-control" id="inputWebsite" placeholder="<2.5">
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Les deux équipes marquent et nombre de buts</h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body widget-body">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="inputFirstName">Oui/ >2.5</label>
                        <input type="text" class="form-control" id="inputFirstName" placeholder="Oui/ >2.5">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="inputLastName">Oui/ <2.5</label>
                        <input type="text" class="form-control" id="inputLastName" placeholder="Oui/ <2.5">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="inputFirstName">Non/ >2.5</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Non/ >2.5">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="inputWebsite">Non/ <2.5</label>
                        <input type="text" class="form-control" id="inputWebsite" placeholder="Non/ <2.5">
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <div class="row col-lg-12 mb-4 justify-content-center">
        <button type="submit" class="btn btn-secondary">Créé le match</button>
    </div>   
</div>
</form>


