  <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="message">
    <strong>Field incomplete</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<h2 class="text-center">Création d'un Pari</h2>
<form  (ngSubmit)="onSubmit(form.value)" class="form">
<div class="row">
    <!--<div class="col-lg-12 mb-4"  *ngIf="showMsg">
        <div class="col-xs-12">
          <p class="alert alert-success">
              <strong>Insert Success!</strong> 

          </p>
        </div>
    </div>-->
    <div class="col-lg-12 mb-4 alert alert-success alert-dismissible fade show" role="alert" *ngIf="showMsg">
        <strong>Insert Success</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="col-lg-12 mb-4">
       
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
                <h5 class="mb-0">Information sur le match </h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body widget-body">
                        
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="inputFirstName">Equipe A</label>
                        <input type="text" class="form-control" [formControl]="equipeA1"  placeholder="--" >
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                        <label for="inputLastName">Equipe B</label>
                        <input type="text" class="form-control" id="inputLastName" [formControl]="equipeB1"  placeholder="--" >
                        <small class="text-danger" *ngIf="form.get('equipeB1').touched && form.get('equipeB1').hasError('required')">Equipe B is required</small>                              
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="input-12">Date</label>
                            <input type="date" class="form-control" value="2011-08-19" [formControl]="date1"  id="input-12" >
                            <small class="text-danger" *ngIf="form.get('date1').touched && form.get('date1').hasError('required')">Equipe B is required</small> 
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="input-15">Time</label>
                            <input type="time" class="form-control" value="13:45:00" [formControl]="time1"   id="input-15" >
                            <small class="text-danger" *ngIf="form.get('time1').touched && form.get('time1').hasError('required')">Equipe B is required</small> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="input-12">Type</label>
                            <select class="custom-select" id="inputGroupSelect01" [formControl]="typeParie1"  (change)="onChange($event.target.value)">
                                <option  *ngFor="let a of type" value={{a._id}} [ngValue]="a._id">{{a.typeParie}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="input-12">Autre info</label>
                            <input type="text" class="form-control" value="13:45:00" [formControl]="autres_info1"   id="input-15" >
                            <small class="text-danger" *ngIf="form.get('autres_info1').touched && form.get('autres_info1').hasError('required')">autres_info is required</small> 
                        </div>
                    </div>
                </div>

            </div>
        </div>

   </div>    
</div>

<div class="row" >
    <div class="col-lg-6 mb-4" *ngFor="let a of categorieform">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted" >
                <h5 class="mb-0">{{a.nomcategorie}}</h5>
                <div class="widget-controls"> 
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body widget-body">

                    <div class="form-group row text-sm-right" *ngFor="let e of a.Champ">
                        <label for="email-h-f" class="col-sm-3 form-control-label mt-1">{{e.nomChamp}}</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" id="email-h-t" [(ngModel)]="e.valeur" name="{{e.valeur}}" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                             
            </div>
        </div>
    </div>
   
</div>

<div class="row">
    <div class="row col-lg-12 mb-4 justify-content-center">
        <button [disabled]="!form.valid" type="submit" class="btn btn-secondary" (click)="AddMatch()">Créé le match</button>
    </div>   
</div>
</form>


