<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-12 col-lg-6">
              <div class="slideshow-container">

                <div class="mySlides">
                  <img src="../assets/img/theme/profile-cover.jpg" style="height:300px ;width:100%">
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">TOP des paris</h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Matchs</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let a of pari_sport">
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img *ngIf="a.idTypePari == '60c9ee674a243561604bd63e'" alt="Image placeholder" src="../assets/img/theme/tennis.jpg">
					            <img *ngIf="a.idTypePari == '60b91a09bb33a3e0bd749715'" alt="Image placeholder" src="../assets/img/theme/foot.jpg">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{a.equipes[0].nomEquipe}} VS {{a.equipes[1].nomEquipe}}</span>
                      <p class="">
                        <span class=" mr-5">{{a.autres_info}}</span>
                      </p>
                    </div>
                  </div>
                </th>
                <td>
                  {{a.dateDuMatch}}
                </td>
                <td>
                  <div class="col text-center">
                    <a routerLinkActive="active" [routerLink]="['/fiche-foot',{id:a._id}]" class="btn btn-sm btn-primary">Voir détails <i class="ni ni-bold-right"></i></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" (click)="pagePrecedente()"   [class.disabled]="!hasPrevPage">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="!#">0</a></li>
              <li class="page-item">
                <a class="page-link" (click)="pageSuivante()" [class.disabled]="!hasNextPage">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h2 class="mb-0"><i class="ni ni-cart"></i> Panier</h2>
            </div>
            
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-danger"> <i class="far fa-trash-alt"></i></a>
            </div>
          </div>
        </div>
        <div class="card-body">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0"><i class="far fa-futbol"></i>Allemagne VS France</h5>
                    <span class="h4 font-weight-bold mb-0">Résultat du match : 1</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="ni ni-fat-remove"></i>
                    </div>
                  </div>
                </div>
                <p class=" mb-0 text-muted text-sm">
                  <span class="text-success mr-2">Cote <i class="fa fa-arrow-up"></i> 2.5</span>
                </p>
              </div>
            </div>
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0"><i class="far fa-futbol"></i>Allemagne VS France</h5>
                    <span class="h4 font-weight-bold mb-0">Résultat du match : 1</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="ni ni-fat-remove"></i>
                    </div>
                  </div>
                </div>
                <p class=" mb-0 text-muted text-sm">
                  <span class="text-success mr-2">Cote <i class="fa fa-arrow-up"></i> 2.5</span>
                </p>
              </div>
            </div>
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-4 text-center">
                    <h5 class="card-title text-uppercase text-muted mb-0">Cote: </h5>
                    <span class="h4 font-weight-bold mb-0">5</span>
                  </div>
                  <div class="col-lg-8">
                    <div class="form-group">
                      <input type="number" id="input-postal-code" min="200" class="form-control form-control-alt" placeholder="Placer mise" value="200">
                    </div>
                  </div>
                </div>
                <p class="text-center mb-0 text-muted text-sm">
                  <span class="mr-2">Mise totale</span>
                  <span class="mr-2">200 MGA</span>
                </p>
                <p class="text-center mb-0 text-muted text-sm">
                  <span class="mr-2">Gains Potentiels</span>
                  <span class="mr-2">10000 MGA</span>
                </p>
                <div class="col text-center">
                  <a href="#!" class="btn btn-sm btn-danger">PLACER MON PARI</a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
