<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-12 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
              <div class="row">
                      <div class="card-body">
                        <form role="form" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                          <div class="pl-lg-4">
                            <div class="row">
                              <div class="col-lg-4">

                              </div>
                              <div class="col-lg-4">
                                <div class="form-group">
                                  <label class="form-control-label" for="input-first-name">Date mouvement</label>
                                  <input [formControl]="daterecherche" type="date" min="1" id="input-first-name" class="form-control form-control-alternative" placeholder="Saisir nombre jeton" >
                                </div>
                              </div>
                              <div class="col-lg-4">

                              </div>
                            </div>
                            <div class="row">
                              <div class="col text-center">
                                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-pencil"></i>VOIR</button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Historique de tous les mouvements {{typemouvement}} de jeton du {{date}}</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">TYPE MOUVEMENT</th>
                <th scope="col">NOMBRE JETON</th>
                <th scope="col">DATE</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let a of mouvementjeton">
                <th scope="row">
                  <span class="badge badge-dot mr-4">
                    <i *ngIf="a.typeMouvement == 'Achat'" class="bg-success"></i> 
                    <i *ngIf="a.typeMouvement == 'Vente'" class="bg-gradient-danger"></i> {{a.typeMouvement}}
                  </span>
                </th>
                <td>
                  {{a.jeton}}
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                     {{a.dateMouvement}}
                  </span>
                </td>
                
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
  </div>
</div>
