
<div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="message">
    <strong>{{message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div *ngIf="type=='list'" class="row">
    <div class="col-12">
        <div class="table-responsive bg-white box-shadow">
            <table class="table table-hover">
                <thead>
                    <tr> 
                        <th>Nom</th>                      
                        <th>Email</th>                        
                        <th>Jetons</th>
                        <th>Mot de passe</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!--<tr *ngFor="let user of users | UserSearchPipe : searchText | paginate: { itemsPerPage: 6, currentPage: p }">                        
                        <td class="align-middle text-truncate">{{user.profile.name}} {{user.profile.surname}}</td>
                        <td class="align-middle text-truncate">{{user.work.position}}</td>                        
                        <td class="align-middle text-truncate">{{user.contacts.email}}</td>
                        <td class="align-middle">
                            <i *ngIf="!user.settings.isDeleted" class="fa fa-soccer-ball-o mr-2" [ngClass]="{ 'text-success': user.settings.isActive, 
                                                                                                     'text-inverse': !user.settings.isActive}" placement="bottom" [ngbTooltip]="(user.settings.isActive) ? 'active' : 'passive'"></i>
                            <i *ngIf="user.settings.isDeleted" class="fa fa-soccer-ball-o mr-2 text-danger" placement="bottom" [ngbTooltip]="'deleted'"></i>
                        </td>
                        <td class="align-middle">
                            <div class="btn-group" role="group">
                                <button class="btn btn-secondary btn-sm" (click)="openModal(modalContent, user)"><i class="fa fa-pencil"></i></button>
                            </div>
                        </td>
                    </tr>-->
                    <tr *ngFor="let c of clients">
                        <td class="align-middle text-truncate">{{c.name}}</td>
                        <td class="align-middle text-truncate">{{c.email}}</td>                        
                        <td class="align-middle text-truncate">{{c.jetons}}</td>
                        <td class="align-middle text-truncate">{{c.password}}</td>
                        <td class="align-middle">
                            <button type="button"  (click)="deleteUser(c)" class="btn btn-dark">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item"><a class="page-link" (click)="premierePage()">Première</a></li>
                  <li class="page-item"><a class="page-link" (click)="pagePrecedente()"   [class.disabled]="!hasPrevPage">Prev</a></li>
                  <li class="page-item"><a class="page-link" (click)="pageSuivante()" [class.disabled]="!hasNextPage">Suiv</a></li>
                  <li class="page-item"><a class="page-link" (click)="dernierePage()">Dernière</a></li>
                </ul>
              </nav>
        </div>
    </div>
</div>

<!--<div class="row">
    <div class="col-12">
        <div class="bg-white text-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item"><a class="page-link" (click)="premierePage()">Première</a></li>
                  <li class="page-item"><a class="page-link" (click)="pagePrecedente()"   [class.disabled]="!hasPrevPage">Prev</a></li>
                  <li class="page-item"><a class="page-link" (click)="pageSuivante()" [class.disabled]="!hasNextPage">Suiv</a></li>
                  <li class="page-item"><a class="page-link" (click)="dernierePage()">Dernière</a></li>
                </ul>
              </nav>
        </div>        
    </div>
</div>-->
